/* Remove margens e paddings padrões do navegador */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container principal do menu */

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100px;
    background-color: #b30000;
    justify-content: space-between;
    color: antiquewhite;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu img {
    width: 100%;
}

.item {
    text-decoration: none;
    color: antiquewhite;
    font-size: 35px;
    cursor: pointer;

    line-height: 100px;
}

.carrinho {
    text-align: right;
    width: 5%;
    padding: 20px 10px;


}

.carrinho img {
    width: 60px;
}


.localizacao {
    width: 100%;
    min-height: 100vh;


    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TITULO */

.titulo-local {
    text-align: center;
    margin-bottom: 50px;
}

.titulo-local h3 {
    color: #B30000;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
}

.titulo-local h1 {
    color: #111;
    font-size: 90px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
}

/* Linha decorativa */
.linha {
    width: 350px;
    height: 4px;
    background: #B30000;
    margin: 15px auto;
    border-radius: 20px;
}


/* Container principal da localização */
.container-mapa {
    text-align: center;
    width: 85%;
    margin: auto;
    background: #B30000;
    border-radius: 35px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}


/* Card das informações */
.info-local {
    width: 350px;
    min-height: 500px;

    background: #8f0000;

    border-radius: 25px;

    padding: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* Nome do local */
.info-local h2 {
    color: white;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 25px;
}

.info-local span {
    color: #ffd000;
}

/* Texto do endereço */
.info-local p {
    color: white;
    font-size: 23px;
    line-height: 38px;
    margin-bottom: 35px;
}

/* Destaques amarelos */
.avaliacao {

    color: #ffd000;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 35px;
}

/* Botão do maps */
.btn-chegar {
    text-align: center;
    width: 240px;
    padding: 18px;
    background: white;
    color: #B30000;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 18px;
    transition: 0.3s;
}

/* Hover do botão */
.btn-chegar:hover {
    transform: scale(1.03);
}

/* mapa */

.mapa iframe {
    width: 800px;
    height: 500px;

    border: none;
    border-radius: 25px;
}

/*tres partes principais*/
.topo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}


.img {
    margin-top: 50px;



}

.img a {
    text-decoration: none;
    color: antiquewhite;
}

.img img {
    width: 320px;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    cursor: pointer;
    object-fit: cover;
}

.img img:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/* Área principal do cardápio */
.cardapio {
    width: 100%;

    padding: 40px;
    margin-top: 80px;
}

/* container dos lanches */
.lanches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    gap: 20px;

}

/* links */
.lanches a {
    overflow: hidden;
    display: block;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    transition: 0.4s ease;
}

/* imagens dos lanches */
.lanches img {
    width: 350px;
    height: 230px;

    object-fit: cover;
    border-radius: 16px;
    display: block;

    transition: transform 0.4s ease;
    cursor: pointer;
}

/* hover*/
.lanches a:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
}

/* Parágrafos com a fonte padrão do site */
p {
    font-family: "Montserrat", sans-serif;
}

/* H2 com a fonte padrão do site */
h2 {
    font-family: "Montserrat", sans-serif;
}

/* H3 com a fonte padrão do site */
h3 {
    font-family: "Montserrat", sans-serif;
}

/* Banner atrás dos lanches */
.art{
    padding-top: 50px;
}
.carousel-item img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.footer{

    width:100%;

    background:#f8f5ef;

    border-top:5px solid #B30000;

    border-radius:30px 30px 0 0;

    margin-top:70px;

    box-shadow:0 -5px 15px rgba(0,0,0,.12);

}

.footer-container{

    width:90%;

    margin:auto;

    padding:35px 0;

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    flex-wrap:wrap;

}

/* LOGO */

.footer-logo{

    width:220px;

    text-align:center;

}

.footer-logo img{

    width:90px;

    margin-bottom:10px;

}

.footer-logo h2{

    font-size:30px;

    color:#222;

    margin-bottom:5px;

}

.footer-logo p{

    font-size:18px;

    color:#666;

}

/* COLUNAS */

.footer-coluna{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.footer-coluna h3{

    color:#B30000;

    font-size:22px;

    margin-bottom:10px;

    text-transform:uppercase;

}

.footer-coluna a{

    text-decoration:none;

    color:#222;

    font-size:18px;

    transition:.3s;

}

.footer-coluna a:hover{

    color:#B30000;

    padding-left:6px;

}

.footer-coluna p{

    color:#444;

    font-size:18px;

    line-height:28px;

}

/* COPYRIGHT */

.footer-copy{

    border-top:1px solid #ddd;

    text-align:center;

    padding:15px;

    font-size:16px;

    color:#666;

}