*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.menu{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
height: 100px; 
background-color: #b30000; 
justify-content: space-between;
color: antiquewhite;
}

.menu img{
width: 100%;
}

.item{
text-decoration: none;  
color:  antiquewhite; 
font-family: ; 
font-size: 35px; 
cursor: pointer; 

line-height: 100px;
}

.carrinho{
    text-align: right;
    width: 5%;
    padding: 20px 10px;

    
}
.carrinho img{
    width: 60px;
}

.item :hover{
color:  #b30000; 
}

.localizacao{
    width: 100%;
    min-height: 100vh;


    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TITULO */

.titulo-local{
    text-align: center;
    margin-bottom: 50px;
}

.titulo-local h3{
    color: #B30000;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
}

.titulo-local h1{
    color: #111;
    font-size: 90px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
}

.linha{
    width: 350px;
    height: 4px;
    background: #B30000;
    margin: 15px auto;
    border-radius: 20px;
}

/* CONTAINER PRINCIPAL */

.container-mapa{
    width: 85%;
    background: #B30000;
    border-radius: 35px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* CARD ESQUERDO */

.info-local{
    width: 350px;
    min-height: 500px;

    background: #8f0000;

    border-radius: 25px;

    padding: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-burger{
    width: 100px;
    height: 100px;
    background: #2c2c2c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-bottom: 25px;
}

.info-local h2{
    color: white;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 25px;
}

.info-local span{
    color: #ffd000;
}

.info-local p{
    color: white;
    font-size: 23px;
    line-height: 38px;
    margin-bottom: 35px;
}

.avaliacao{
    color: #ffd000;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 35px;
}

.btn-chegar{
    width: 240px;
    padding: 18px;
    text-align: center;
    background: white;
    color: #B30000;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 18px;
    transition: 0.3s;
}

.btn-chegar:hover{
    transform: scale(1.03);
}

/* MAPA */

.mapa iframe{
    width: 800px;
    height: 500px;

    border: none;
    border-radius: 25px;
}
.topo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

  
.img{
 margin-top: 50px;
 
  
  
}
.img a{
    text-decoration: none;
    color: antiquewhite;
}
.img img{
    width: 320px;
    height: 420px;
    transition: 0.4s;
    cursor: pointer;
    justify-content: space-around;
}
.img img:hover{
    transform: scale(1.05);
}
.cardapio{
    width: 100%;

    padding: 40px;
    margin-top: 80px;
}

/* CONTAINER DOS LANCHES */
.lanches{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
   
}

/* LINKS */
.lanches a{
    overflow: hidden;
    display: block;
}

/* IMAGENS */
.lanches img{
    width: 350px;
    height: 230px;

    object-fit: cover;

    transition: transform 0.4s ease;
    cursor: pointer;
}

/* HOVER */
.lanches a:hover{
    transform: scale(1.08);
    transition: 0.4s ease;
}
p{
    font-family: "Montserrat", sans-serif;
}

h2{
  font-family: "Montserrat", sans-serif;  
}
h3{
    font-family: "Montserrat", sans-serif;
}
